// Body
$body-bg: #eeeaef;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mobile-size: 700px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$pink: #f66d9b;
$red: #E91E63;
$red1: #e60049 ;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$purple: #9561e2;
$purple1: #B200FF;
$purple2: #8100FF;
$purple3: #360e60;
$grey: #EEEAEF;
